<!DOCTYPE html>
<html>
    <head>
        <title>Propiedades</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    </head>
    <body>
        <header>
            <div class="">
                {% include 'nav-bar.html.twig' %}
            </div>
        </header>
        <h2>Propiedad</h2>
        <hr/>
            <ul>
                <li>Nombre: {{propiedad.getNombre}}</li>
                <li>Lugar: {{propiedad.getLugar}}</li>
                <li>Monto normal: {{propiedad.getMontoNormal}}</li>
                <li>Monto base: {{propiedad.getBase}}</li>
                {% if rol == 2 %}
                <li><a href="./?action=modificar_propiedad&id={{propiedad.getId}}">Modificar propiedad</a></li>
                <li><a href="./?action=eliminar_propiedad&id={{propiedad.getId}}">Eliminar propiedad</a></li>
                <li><a href="./?action=formulario_subastar_propiedad&id={{propiedad.getId}}">Agregar nueva subasta para esta propiedad</a></li>
                {% if {propiedad.getHotSale} %}
                    <li><a href="./?action=cambiar_estado_hotSale&id={{propiedad.getId}}">Poner en hot sale</a></li>
                {% else %}
                    <li><a href="./?action=cambiar_estado_hotSale&id={{propiedad.getId}}">Sacar de hot sale</a></li>
                {%endif%}
                {%endif%}
            </ul>
            <form method="post" action="./?action=chequear_subasta&id={{propiedad.getId}}" class="">
            <div class="">
                <div class="">
                    <label for="fecha" class="">Seleccione la fecha desde la que quiere realizar la subasta: </label>
                    <input type="datetime-local" name="fecha" id="fecha" class="inputElement" placeholder="DD-MM-AAAA HH-MM" required>
                </div>
              <button id="izquierda" type="submit">Registrar</button>
              <button id="derecha" type="reset">Reset</button>
          </div>
        </form>
        <hr/>
    </body>
</html>
