<!DOCTYPE html>
<html>
    <head>
        <title>Propiedades</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="css/estilos_propiedades.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


    </head>
    <body>
        <header>
            <div class="">
                {% include 'nav-bar.html.twig' %}
            </div>
        </header>
        <h2>Propiedades</h2>
        {% if rol == 2 %}
        <h5> ¿Querés agregar otra propiedad? <a href="./?action=formulario_agregar_propiedad">Hacelo desde acá</a></h5>
        {% endif %}
        <hr />
        {% if rol == 1%}
          <form method="post" action="./?action=listar_propiedades_by_location" class="form-inline my-2 my-lg-0">
          <label for="property_search">Buscar Propiedades: </label>
          <input id="property_search" name="property_search" class="form-control mr-sm-2" type="search" placeholder="Ubicacion" aria-label="Search">
          <input id="property_date" name="property_date" class="form-control mr-sm-2" type="date" value={{ "now"|date_modify("+6 month")|date("Y-m-d") }} min={{ "now"|date_modify("+6 month")|date("Y-m-d") }} max={ "now"|date_modify("+1 year")|date("Y-m-d") }} required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        {% endif %}
        {% for propiedad in propiedades %}
            <ul>
              <div class="portfolio-grid">
                <div class="row">
                  <div class="col-lg-3 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <a href="#"><img alt="" src="img/fondo2.jpg">
                        <div class="portfolio-over">
                          <div>
                            <h3 class="card-title">
                              <li>Nombre: {{propiedad.getNombre}} </li>
                            </h3>
                            <p class="card-text">
                                <li>Lugar: {{propiedad.getLugar}} </li>

                                <li>En HotSale: {{propiedad.getHotSale}}</li>
                            </p>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                  {% if rol == 2 %}
                    <ul>
                      <li><a href="./?action=modificar_propiedad&id={{propiedad.getId}}"class="enlaceboton">Modificar propiedad</a></li>
                      <li><a href="./?action=eliminar_propiedad&id={{propiedad.getId}}"class="enlaceboton">Eliminar propiedad</a></li>
                      <li><a href="./?action=formulario_subastar_propiedad&id={{propiedad.getId}}"class="enlaceboton">Agregar nueva subasta para esta propiedad</a></li>
                      {% if propiedades is empty %}
                          <h5>Todavía no subiste ningúna propeidad. <a href="./?action=agregar_propiedad">Hacelo desde acá</a></h5>
                      {%endif%}
                      {% if propiedad.getHotSale == true  %}
                        <li><a href="./?action=cambiar_estado_hotSale&id={{propiedad.getId}}"class="enlaceboton">Sacar de hot sale</a></li>
                      {% else %}

                      <li><a href="./?action=cambiar_estado_hotSale&id={{propiedad.getId}}"class="enlaceboton">Poner en hot sale</a></li>
                      {%endif%}
                    </ul>
                  {%endif%}
                  {% if rol == 1%}
                    <ul>
                      <li><a href="./?action=agregar_reserva&id={{propiedad.getId}}"class="enlaceboton">Alquilar</a></li>
                      <li><a href="./?action=detalles_propiedad&id={{propiedad.getId}}"class="enlaceboton">Detalles</a></li>
                  {%endif%}
                </div>
              </div>
            </ul>
            <hr />
        {% endfor %}
    </body>
</html>
