<!DOCTYPE html>
<html>
    <head>
        <title>Modificar propiedad</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
        <div class="">
            {% include 'nav-bar.html.twig' %}
        </div>
        </header>
        <h3>Modificá la propiedad a continuación:</h3>
        <h5>Escribí solo los datos que quieras actualizar</h5>
        <form method="post" action="./?action=modificar_propiedad&id={{propiedad}}" class="userForm">
            <div class="">
                <div class="">
                    <label for="nombre" class="">Nuevo nombre</label>
                    <input type="text" id="nombre" name="nombre" class="inputElement" placeholder="Sin guiones ni espacios" value="{{propiedad.getNombre}}" required>
                </div>
                <div class="">
                <div class="">
                    <label for="lugar" class="">Nuevo lugar</label>
                    <input type="text" id="lugar" name="lugar" class="inputElement" placeholder="Nuevo lugar de la propiedad" value="{{propiedad.getLugar}}" required>
                </div>
                <div class="">
                    <label for="monto_normal" class="">Nuevo monto normal</label>
                    <input type="text" id="monto_normal" name="monto_normal" class="inputElement" placeholder="Nuevo monto normal para comprar directamente un fin de semana." value="{{propiedad.getMontoNormal}}" required>
                </div>
                <div class="">
                    <label for="monto_base" class="">Nuevo monto base</label>
                    <input type="text" id="monto_base" name="monto_base" class="inputElement" placeholder="Nuevo monto inicial para una subasta" value="{{propiedad.getMontoBase}}" required>
                </div>
              <button id="izquierda" type="submit">Guardar</button>
              <button id="derecha" type="reset">Reset</button>
          </div>
        </form>
    </body>
</html>
